block content
    .chatbox
        #conversation.conversation
        .inputbox
            input#inputtxtID.inputtxt(type='text' placeholder='type here')
            button#sendMessage.sendMessage Send msg