
.playersInformationContainer
    template#playerInformationTemplate
        .specificPlayerData
            h2.specificPlayerName Player2
            h4.specificPlayerMoney 16000
            h4.specificPlayerProperties 4