block content
    .popup
        .popup-header
            h2.popup-title 
        .popup-description
            p.price
            h3 House Prices
            ul
                li.one-house x DKK for 1 house
            .popup-rent
                p.rent Rent: x DKK
                p.houses Houses: x
        .popup-railroad-description 
            p.price 
            h3 Rent
            ul
                p.railroad-rent x DKK
        .owner
        input(type="hidden" id="propertyIdHidden")
        button.buy-button Buy
        button.upgrade-button Upgrade
        button.sell-button Sell
        button.closePopup ×

        
