  .popup {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 500px;
    height: 300px;
  }
  
  .popup-rent {
    position: absolute;
    top: 24%;
    right: 15%;
  }

  .popup-header {
    background-color: #0077be;
    color: rgb(0, 0, 0);
    padding: 3px;
    border-radius: 5px 5px 0 0;
  }

  
  .popup h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 5px;
  }
  
  .popup p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .popup button.closePopup {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .popup button.buy-button,
  .popup button.upgrade-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    border: none;
    background-color: #00be10;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .popup button.buy-button:hover,
  .popup button.upgrade-button:hover,
  .popup button.sell-button:hover {
    background-color: #005d91;
  }

  .popup button.sell-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    background-color: #be0000;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }


  